<ul class="small">
  <li>Your <strong>Text</strong> is the blurb template. Phrases that will change depending on planet position should be formatted as <strong>@planet</strong> in the text:</li>
  <ul class="nodots"><li>e.g. <strong>I am a @sun from @pluto with a terrible @lilith.</strong></li></ul>
  <li>Your <strong>Planet replacements</strong> explain what to replace each phrase with for the 12 signs.</li>
  <li>There needs to be as many separate rows as you have <strong>@planet</strong>s in your text. Double-spaced rows are optional.</li>
  <li>Each row needs to have 12 phrases, separated by commas. A space after the comma is optional.</li>
  <ul class="nodots"><li>e.g. <strong>bold, calm, wild, deep, proud, pure, fun,dark,free,stern,rebellious,passive</strong></li></ul>
  <li>The signs for each planet named will then be converted to one of these phrases when a user requests a blurb.</li>
  <li>Order of replacements maps to sign in order:</li>
  <ul class="nodots"><li>Aries, Taurus, Gemini, Cancer, Leo, Virgo, Libra, Scorpio, Sagittarius, Capricorn, Aquarius, Pisces</li></ul>
  <li>Allowed <strong>@planet</strong>s: (not case sensitive, but spelling matters)</li>
  <ul class="nodots"><li>@sun, @moon, @rising, @mercury, @venus, @mars, @jupiter, @saturn, @uranus, @neptune, @pluto, @northnode, @lilith, @true_lilith,
    @earth, @chiron, @pholus, @ceres, @pallas, @juno, @vesta, @midheaven, @IC, @lifepath, @eastern</li></ul>
  <li>Don't worry about "a" vs "an" issues, just stick to "a <strong>@planet</strong>" it will become "an <strong>@planet</strong>" when implied grammatically.</li>
  <li>If you have identical consecutive rows you can write them as <strong>[row]*n</strong> where <strong>n</strong> is a counting number for how many times to repeat the text.</li>
  <li>You can share your blurb generator with friends and it can output their blurb based on their birth data.</li>
</ul>