<h1>Create Your Own Blurb Generator</h1>
<ul class="small">
  <li>Your text is the blurb. Phrases that will change depending on planet position should be left as @[planet] in the text:</li>
  <ul class="nodots"><li>e.g. 'I am a @sun from @pluto with a terrible @lilith.'.</li></ul>
  <li>Your planet replacements explain what to replace each phrase with for the 12 signs.</li>
  <li>There needs to be as many separate rows as you have @[planet]'s in your text. Double-spaced rows are optional.</li>
  <li>Each row needs to have 12 phrases, separated by commas. A space after the comma is optional.</li>
  <li>The signs for each planet named will then be converted to one of these phrases when a user requests a blurb.</li>
  <li>Order of replacements maps to sign in order:</li>
  <ul class="nodots"><li>Aries, Taurus, Gemini, Cancer, Leo, Virgo, Libra, Scorpio, Sagittarius, Capricorn, Aquarius, Pisces</li></ul>
  <li>Allowed planets:</li>
  <ul class="nodots"><li>@sun, @moon, @mercury, @venus, @mars, @jupiter, @saturn, @uranus, @neptune, @pluto, @northnode, @lilith, @true_lilith, @earth, @chiron, @pholus, @ceres, @pallas, @juno, @vesta</li></ul>
  <li>You can share your blurb generator with friends and it can output their blurb based on their birth data.</li>
</ul>
<%= render "form", blurb: @blurb %>

<br>

<div>
  <%= link_to "Back to blurbs", blurbs_path %>
</div>
